@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
  0% {
    transform: translateX(100vw);  /* Start from 100% of the viewport width */
  }
  100% {
    transform: translateX(-100vw); /* Move to the left 100% of the viewport width */
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
